openapi: 3.2.0
info:
  title: Edmunds Vehicle API
  version: '3.0'
  description: Edmunds Vehicle API provides programmatic access to vehicle make, model, style, pricing, and dealership inventory data. Authentication is via an api_key query parameter.
  contact:
    name: Edmunds Developer Network
    url: https://developer.edmunds.com/
servers:
- url: https://api.edmunds.com
  description: Production
security:
- ApiKeyAuth: []
tags:
- name: Vehicle
paths:
  /api/vehicle/v3/makes:
    get:
      summary: List vehicle makes
      operationId: listMakes
      tags:
      - Vehicle
      parameters:
      - in: query
        name: state
        schema:
          type: string
          enum:
          - new
          - used
          - future
      - in: query
        name: year
        schema:
          type: integer
      - in: query
        name: view
        schema:
          type: string
          enum:
          - basic
          - full
      responses:
        '200':
          description: Makes list
          content:
            application/json:
              schema:
                type: object
  /api/vehicle/v3/makes/count:
    get:
      summary: Count vehicle makes
      operationId: countMakes
      tags:
      - Vehicle
      responses:
        '200':
          description: Count
          content:
            application/json:
              schema:
                type: object
                properties:
                  makesCount:
                    type: integer
  /api/vehicle/v3/models:
    get:
      summary: List models
      operationId: listModels
      tags:
      - Vehicle
      parameters:
      - in: query
        name: state
        schema:
          type: string
      - in: query
        name: year
        schema:
          type: integer
      responses:
        '200':
          description: Models list
          content:
            application/json:
              schema:
                type: object
  /api/vehicle/v2/makes:
    get:
      summary: List makes (v2) with model year data
      operationId: listMakesV2
      tags:
      - Vehicle
      parameters:
      - in: query
        name: state
        schema:
          type: string
          enum:
          - new
          - used
          - future
      responses:
        '200':
          description: Makes list with model years
          content:
            application/json:
              schema:
                type: object
  /api/vehicle/v2/{makeNiceName}/models:
    get:
      summary: List models for a make (v2)
      operationId: listModelsForMake
      tags:
      - Vehicle
      parameters:
      - in: path
        name: makeNiceName
        required: true
        schema:
          type: string
          example: lexus
      - in: query
        name: state
        schema:
          type: string
          enum:
          - new
          - used
          - future
      - in: query
        name: view
        schema:
          type: string
      responses:
        '200':
          description: Models list
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: api_key
x-generated-from: documentation
x-authored-by: API Evangelist
x-authored-note: Edmunds publishes no OpenAPI for its Vehicle API. This document was written from the Edmunds developer portal — the endpoint tables and worked examples at https://developer.edmunds.com/api-documentation/overview/ and https://developer.edmunds.com/api-documentation/vehicle/ — and the repository history records it as "a best-effort OpenAPI 3.1 spec generated from documentation". It sat in openapi/_original/ until 2026-09-06, where its location asserted that Edmunds had served it. Edmunds did not. It covers 5 of roughly 20 documented Vehicle API resources and none of the Editorial, Dealer or Media APIs. The one contract Edmunds does serve is openapi/_original/edmunds-cars-openapi.yaml, harvested from https://api.edmunds.com/openapi.yaml.
